[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/bundle/unimpaired"]
	path = vim/bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim/bundle/webapi-vim"]
	path = vim/bundle/webapi-vim
	url = https://github.com/mattn/webapi-vim.git
[submodule "vim/bundle/gist-vim"]
	path = vim/bundle/gist-vim
	url = https://github.com/mattn/gist-vim.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "vim/bundle/simplenote"]
	path = vim/bundle/simplenote
	url = https://github.com/mrtazz/simplenote.vim.git
[submodule "ScrollColors"]
	path = ScrollColors
	url = https://github.com/vim-scripts/ScrollColors.git
[submodule "vim/bundle/ScrollColors"]
	path = vim/bundle/ScrollColors
	url = https://github.com/vim-scripts/ScrollColors.git
[submodule "vim/bundle/gundo"]
	path = vim/bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "vim/bundle/vim-endwise"]
	path = vim/bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "vim/bundle/zencoding-vim"]
	path = vim/bundle/zencoding-vim
	url = https://github.com/mattn/zencoding-vim.git
[submodule "vim/bundle/gist"]
	path = vim/bundle/gist
	url = https://github.com/mattn/gist-vim.git
[submodule "vim/bundle/webapi"]
	path = vim/bundle/webapi
	url = https://github.com/mattn/webapi-vim.git
[submodule "vim/bundle/slime"]
	path = vim/bundle/slime
	url = https://github.com/jpalardy/vim-slime.git
[submodule "vim/bundle/gitgutter"]
	path = vim/bundle/gitgutter
	url = https://github.com/jisaacks/GitGutter.git
[submodule "vim/bundle/slimux"]
	path = vim/bundle/slimux
	url = https://github.com/epeli/slimux.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/Dispatch"]
	path = vim/bundle/Dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "vim/bundle/nerdcomment"]
	path = vim/bundle/nerdcomment
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/rubocop"]
	path = vim/bundle/rubocop
	url = https://github.com/ngmy/vim-rubocop.git
[submodule "vim/bundle/abolish"]
	path = vim/bundle/abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "vim/bundle/repeat"]
	path = vim/bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/ultisnips"]
	path = vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/inden-guides"]
	path = vim/bundle/inden-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/bundle/buftabs"]
	path = vim/bundle/buftabs
	url = https://github.com/vim-scripts/buftabs.git
[submodule "prompt"]
	path = prompt
	url = https://github.com/Capybara/prompt.git
[submodule "vim/bundle/markdown"]
	path = vim/bundle/markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vim/bundle/lightline.vim"]
	path = vim/bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "https:/github.com/jeetsukumaran/vim-buffergator.git"]
	path = https:/github.com/jeetsukumaran/vim-buffergator.git
	url = https://github.com/itchyny/lightline.vim
[submodule "vim/bundle/vim-buffergator"]
	path = vim/bundle/vim-buffergator
	url = https://github.com/jeetsukumaran/vim-buffergator.git
[submodule "vim/bundle/eregex"]
	path = vim/bundle/eregex
	url = https://github.com/othree/eregex.vim.git
