snippet new "Puts ruby shebang, date, version"
#!/usr/bin/env ruby
# encoding: UTF-8

# ${1:Written by: `echo $USER`} on ${3:${2:`date +%m`}-`date +%d`}-`date +%Y` 
# ${4:`ruby -v | cut -d\  -f 1,2`}
endsnippet
